button {
  background-color: aqua; /* Green background */
  color: palegreen; /* White text */
  padding: 10px 20px; /* Some padding */
  border: none; /* Remove border */
  cursor: pointer; /* Pointer/hand icon */
}
